body {
    font-family: Arial;
    background-image: url(/static/css/bg.jpg);
}



.container {
  max-width: 320px;
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);

}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

span.pwd {
  float: right;
  padding-top: 16px;
}

h1{
  color: white;
  font-family: Arial;
  border-bottom: #4CAF50;
  text-align: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.pwd {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}